.secondaryBgColor {
    background-color: #547320;
}

*{
    box-sizing: border-box; 
}
@media screen and (max-width: 680px) {
    .uni-drawer__content .uni-drawer--left .uni-drawer__content--visible {
        width: 80% !important;
    } 
}
@media screen and (min-width: 680px) {
    .uni-drawer__content .uni-drawer--left .uni-drawer__content--visible {
        width: 60% !important;
    }
}


html, body {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
}
uni-app {
    
}
uni-page {
    // max-width: 680px;
    // aspect-ratio: 3 / 5 !important;
}

iframe {
    left: 0 !important;
}
uni-input {
    height: 108rpx !important;
    font-size: 36rpx !important;
}
