.secondaryBgColor {
    background-color: #547320;
}

*{
    box-sizing: border-box; 
}

.uni-drawer__content .uni-drawer--left .uni-drawer__content--visible {
    width: 80% !important;
}
html {
    font-size: 16px;
}
body {
    max-width: 750px;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
}
