/* green theme */
.green-theme {
    --primary-color: #f7c96f;
    --secondary-color: #547320;
    --text-color: #ffffff;
    --primary-text-color: #678633;
    --light-text-color: #f9f36d;
    --amount-text-color: #fbf68a;
    --amount-border-color: #F8C15A;
    --active-btn-color: #fcea7f;
    --active-btn-text-color: #064a25;
    /* 更多样式... */
  }
  
  /* Dark theme */
  .dark-theme {
    --primary-color: #333;
    --secondary-color: #f4f4f4;
    --text-color: #f4f4f4;
    /* 更多样式... */
  }